quart
quart-openapi
Flask
flask-marshmallow
marshmallow-sqlalchemy
Flask-restplus
Flask-SQLAlchemy
Flask-WTF
flask-bootstrap
flask-cors
flask-login
flask-mail
sqlalchemy-migrate
requests
pybiomart
fuzzywuzzy
python-Levenshtein
pytest
wget
