quart
quart-openapi
Flask
flask-marshmallow
marshmallow-sqlalchemy
Flask-restplus
Flask-SQLAlchemy
Flask-WTF
flask-bootstrap
flask-cors
flask-login
flask-mail
sqlalchemy-migrate
requests
fuzzywuzzy
pytest
pytest-asyncio
wget
xlrd>=0.9.0
asyncio
aiohttp
apybiomart
nest_asyncio
python-dotenv
hypercorn
