/*
* Created by Roberto Preste
*/

:root {
    /* Palette 1 */
    --red_nc5: #C4003B;
    --pink_raspberry: #8F002B;
    --vivid_auburn: #8A2121;
    --prune: #711C1C;
    --eerie_black: #1D1D1B;
    /* Palette 2 */
    --dark_liver: #564E3F;
    --linen: #F9F3E5;
    --gargoyle_gas: #F9CF45;
    --yellow_crayola: #FFEE82;
    --blond: #FFF2C1;
    --warning_orange: rgb(238, 172, 87);
    --mughal_green: #2C5530;
    --mummys_tomb: #739E82;
    --celadon: #B3FFB3;
    --raw_sienna: #D38B5D;
    --pale_copper: #D7816A;
    --granite_gray: #656565;
    --old_silver: #808782;
    --ceil: #93B5C6;
    /* Palette 3 */
    --rosy_brown: #C68D92;
    --english_red: #A63A50;
    --light_brown: #BA5A1F;
    --pastel_pink: #EDA4A3;
    --fuzzy_wuzzy: #C46464;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--blond);
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-top: 70px;
}

a {
    color: var(--light_brown);
}

a:hover {
    color: var(--english_red);
}

::-webkit-scrollbar {
    display: none;
}

.jumbotron {
    background-color: var(--linen);
    border-style: solid;
    border-color: var(--warning_orange);
}

.navbar {
    background-color: var(--yellow_crayola);
}

.navbar a {
    font-weight: bold;
    color: var(--warning_orange);
}

.navbar a:hover {
    font-weight: bold;
    color: var(--yellow_crayola);
    background-color: var(--warning_orange);
}

.navbar li>a:hover {
    font-weight: bold;
    color: var(--yellow_crayola);
    background-color: var(--warning_orange);
}

.page-header {
    background-color: var(--linen);
    border-style: solid;
    border-color: var(--warning_orange);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#networkview {
    background-color: var(--linen);
    border-style: solid;
    border-width: 2px;
    border-color: var(--warning_orange);
    border-radius: 10px;
    min-height: 800px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* fixed height */
    /*height: 40px;*/
    background-color: var(--yellow_crayola);
}

.contacts {
    border: 2px solid var(--warning_orange);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 80px;
}