{% extends "base.html" %}

{% block content %}

    <div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages %}

            <div class="row" style="margin-top: 2em; margin-bottom: -3em;">

                <div class="col-sm-1">&nbsp;</div>

                <div class="col-sm-10 pulsanti w3-round-large" style="background-color: rgba(231,255,231,.6);">
                    <span class="w3-closebtn w3-text-teal w3-hover-text-indigo" onclick="this.parentElement.style.display='none'">&times;</span>
                    <br>
                    {% for message in messages %}
                    <p class="w3-center w3-text-indigo">{{ message }}</p>
                    {% endfor %}

                </div>

                <div class="col-sm-1">&nbsp;</div>

            </div>

        {% endif %}
    {% endwith %}

    <div class="jumbotron jumbotron-fluid">
        <div class="text-center">
            <h1>HmtPhenome</h1>
            <p class="lead">Integrate and visualise genes, variants, phenotypes and diseases.</p>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">

            <p class="lead">HmtPhenome aims at integrating data about mitochondrial involvement in phenotypes and diseases, offering a full overview of pathogenic processes in which mitochondria play a primary or secondary role.</p>
            <p class="lead">Users can search for a variant position, gene, phenotype or disease and retrieve all the related information through an integrated network of biological entities. </p>

        </div>

    </div>
    
    <div class="row">

        <div class="col-sm-4">&nbsp;</div>
        
        <div class="col-sm-4">

            <p><a class="btn btn-warning btn-lg center-block" href="{{ url_for('site.query') }}" role="button">Enter HmtPhenome</a></p>
            
        </div>

        <div class="col-sm-4">&nbsp;</div>
        
    </div>

    <br><br>

    <div class="row">

        <div class="col-sm-5">&nbsp;</div>

        <div class="col-sm-2">
            <a class="center-block" href="https://elixir-europe.org" title="ELIXIR" target="_blank">
                <img src="{{ url_for('static', filename = 'img/elixir_node_italy.png') }}" alt="ELIXIR Logo" style="max-width: 12em;">
            </a>
        </div>

        <div class="col-sm-5">&nbsp;</div>

    </div>

    </div>

    {{ super() }}
{% endblock %}