{% extends "base.html" %}

{% block content %}

    <div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages %}

            <div class="row" style="margin-top: 2em; margin-bottom: -3em;">

                <div class="col-sm-1">&nbsp;</div>

                <div class="col-sm-10 pulsanti w3-round-large" style="background-color: rgba(231,255,231,.6);">
                    <span class="w3-closebtn w3-text-teal w3-hover-text-indigo" onclick="this.parentElement.style.display='none'">&times;</span>
                    <br>
                    {% for message in messages %}
                    <p class="w3-center w3-text-indigo">{{ message }}</p>
                    {% endfor %}

                </div>

                <div class="col-sm-1">&nbsp;</div>

            </div>

        {% endif %}
    {% endwith %}

    <div class="row" style="margin-top: 4rem;">

        <div class="col-sm-2">&nbsp;</div>

        <div class="col-sm-8 w3-center" style="font-weight: bold;">

            <p class="w3-text-teal w3-xxlarge">Welcome!</p>
            <br />

            <p class="w3-text-indigo w3-large">This is a paragraph.</p>
            <br />

            <div class="row">

                <div class="col-sm-2">&nbsp;</div>

                <div class="col-sm-4 text-center">
                    <button class="pulsanti w3-hover-light-blue w3-hover-text-indigo w3-padding w3-round-large w3-xlarge" onclick="location.href='#'" title="Insert title">Test</button>
                </div>

                <div class="col-sm-4 text-center">
                    <button class="pulsanti w3-hover-light-blue w3-hover-text-indigo w3-padding w3-round-large w3-xlarge" onclick="location.href='{{ url_for('api.doc') }}'" title="API">API</button>
                </div>

                <div class="col-sm-2">&nbsp;</div>

            </div>

            <br />

        </div>

        <div class="col-sm-2">&nbsp;</div>

    </div>

    </div>

    {{ super() }}
{% endblock %}