{% extends "base.html" %}

{% block content %}

    <div class="container">

        <div class="page-header">
            <h1>Query</h1>
        </div>

        <p class="lead">Launch a query on HmtPhenome starting from variants, genes, phenotypes or diseases.</p>

        {# Messages #}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <ul class="flashes"></ul>
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>

        {# Variants #}
        <form action="/query" method="post" name="query_variants" enctype="multipart/form-data">
        <div class="container-fluid">
        <div class="row">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4>Variants</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3"><p>Insert a variant: </p></div>
                        <div class="form-group col-sm-9">
                            <input type="text" class="form-control" name="variant_input" id="variant_input">
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-warning btn-lg center-block" name="variant_button" value="submit_variant">Submit</button>
                </div>
            </div>
        </div>
        </div>
        </form>

        {# Genes #}
        <form action="/query" method="post" name="query_genes" enctype="multipart/form-data">
        <div class="container-fluid">
        <div class="row">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4>Genes</h4>
                </div>
                <div class="panel-body">
                    <p>Select a chromosome and gene: </p>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <select class="form-control" name="gene_chr" id="gene_chr" onchange="populateGenes(this.id, 'gene_input');">
                                <option value="chr1">chr1</option>
                                <option value="chr2">chr2</option>
                                <option value="chr3">chr3</option>
                                <option value="chr4">chr4</option>
                                <option value="chr5">chr5</option>
                                <option value="chr6">chr6</option>
                                <option value="chr7">chr7</option>
                                <option value="chr8">chr8</option>
                                <option value="chr9">chr9</option>
                                <option value="chr10">chr10</option>
                                <option value="chr11">chr11</option>
                                <option value="chr12">chr12</option>
                                <option value="chr13">chr13</option>
                                <option value="chr14">chr14</option>
                                <option value="chr15">chr15</option>
                                <option value="chr16">chr16</option>
                                <option value="chr17">chr17</option>
                                <option value="chr18">chr18</option>
                                <option value="chr19">chr19</option>
                                <option value="chr20">chr20</option>
                                <option value="chr21">chr21</option>
                                <option value="chr22">chr22</option>
                                <option value="chrX">chrX</option>
                                <option value="chrM">chrM</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control" name="gene_input" id="gene_input">
                                <option value="A">--All Genes--</option>
                                {# populated by populateGenes #}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-warning btn-lg center-block" name="gene_button" value="submit_gene">Submit</button>
                </div>
            </div>
        </div>
        </div>
        </form>

        {# Phenotype #}
        <form action="/query" method="post" name="query_phenos" enctype="multipart/form-data">
        <div class="container-fluid">
        <div class="row">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4>Phenotypes</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3"><p>Select a phenotype: </p></div>
                        <div class="form-group col-sm-9">
                            <input type="text" name="pheno_input" id="pheno_input" placeholder="Phenotype" class="awesomplete form-control" data-multiple>
                            {# populated by Awesomplete #}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-warning btn-lg center-block" name="pheno_button" value="submit_pheno">Submit</button>
                </div>
            </div>
        </div>
        </div>
        </form>

        {# Diseases #}
        <form action="/query" method="post" name="query_diseases" enctype="multipart/form-data">
        <div class="container-fluid">
        <div class="row">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4>Diseases</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3"><p>Select a disease: </p></div>
                        <div class="form-group col-sm-9">
                            <input type="text" name="disease_input" id="disease_input" placeholder="Disease" class="awesomplete form-control" data-multiple>
                            {# populated by Awesomplete #}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-warning btn-lg center-block" name="disease_button" value="submit_disease">Submit</button>
                </div>
            </div>
        </div>
        </div>
        </form>

    </div>

    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript">

        window.onload = function () {
            populateGenes('gene_chr', 'gene_input');
        };

    </script>

{% endblock %}
